spring.datasource.url=jdbc:mysql://localhost:3306/memoryguard?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
spring.datasource.username=root
spring.datasource.password=root
memoryguard.crypto.master-key-base64=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
spring.main.headless=false
memoryguard.admin.key=
memoryguard.session.token-minutes=5
memoryguard.session.timeout-minutes=5
memoryguard.session.expire-delay-ms=60000
